<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yuanjian-wushi_k_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{300,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,330}}</string>
        <key>sourceSize</key>
        <string>{300,330}</string>
      </dict>
      <key>yuanjian-wushi_k_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,0},{300,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,330}}</string>
        <key>sourceSize</key>
        <string>{300,330}</string>
      </dict>
      <key>yuanjian-wushi_k_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,0},{300,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,330}}</string>
        <key>sourceSize</key>
        <string>{300,330}</string>
      </dict>
      <key>yuanjian-wushi_k_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,0},{300,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,330}}</string>
        <key>sourceSize</key>
        <string>{300,330}</string>
      </dict>
      <key>yuanjian-wushi_k_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,0},{300,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,330}}</string>
        <key>sourceSize</key>
        <string>{300,330}</string>
      </dict>
      <key>yuanjian-wushi_k_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{300,330}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{300,330}}</string>
        <key>sourceSize</key>
        <string>{300,330}</string>
      </dict>
      <key>wushi-parts-wushi_shoulder.png</key>
      <dict>
        <key>frame</key>
        <string>{{2006,0},{30,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,32}}</string>
        <key>sourceSize</key>
        <string>{30,32}</string>
      </dict>
      <key>wushi-parts-wushi_crown4.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,332},{83,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>wushi-parts-wushi_crown3.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,332},{83,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>wushi-parts-wushi_crown2.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,332},{83,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>wushi-parts-wushi_crown.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,332},{83,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,53}}</string>
        <key>sourceSize</key>
        <string>{83,53}</string>
      </dict>
      <key>wushi-parts-wushi_head5.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,332},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wushi-parts-wushi_head6.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,332},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wushi-parts-wushi_head4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1812,280},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wushi-parts-wushi_head3.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,332},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wushi-parts-wushi_head2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1900,280},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wushi-parts-wushi_head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{86,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,90}}</string>
        <key>sourceSize</key>
        <string>{86,90}</string>
      </dict>
      <key>wushi-parts-wushi_lefthand1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1965,93},{20,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,25}}</string>
        <key>sourceSize</key>
        <string>{20,25}</string>
      </dict>
      <key>wushi-parts-wushi_leftarm.png</key>
      <dict>
        <key>frame</key>
        <string>{{1989,66},{13,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,23}}</string>
        <key>sourceSize</key>
        <string>{13,23}</string>
      </dict>
      <key>wushi-parts-wushi_chest.png</key>
      <dict>
        <key>frame</key>
        <string>{{1965,43},{27,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,21}}</string>
        <key>sourceSize</key>
        <string>{27,21}</string>
      </dict>
      <key>wushi-parts-wushi_righthand1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2003,94},{18,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,27}}</string>
        <key>sourceSize</key>
        <string>{18,27}</string>
      </dict>
      <key>wushi-parts-wushi_rightweapon4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1812,70},{151,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,68}}</string>
        <key>sourceSize</key>
        <string>{151,68}</string>
      </dict>
      <key>wushi-parts-wushi_rightweapon3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1812,140},{151,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,68}}</string>
        <key>sourceSize</key>
        <string>{151,68}</string>
      </dict>
      <key>wushi-parts-wushi_rightweapon2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1812,210},{151,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,68}}</string>
        <key>sourceSize</key>
        <string>{151,68}</string>
      </dict>
      <key>wushi-parts-wushi_rightweapon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1812,0},{151,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,68}}</string>
        <key>sourceSize</key>
        <string>{151,68}</string>
      </dict>
      <key>wushi-parts-wushi_beadsa.png</key>
      <dict>
        <key>frame</key>
        <string>{{1965,0},{39,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,41}}</string>
        <key>sourceSize</key>
        <string>{39,41}</string>
      </dict>
      <key>wushi-parts-wushi_waist.png</key>
      <dict>
        <key>frame</key>
        <string>{{1965,120},{30,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,13}}</string>
        <key>sourceSize</key>
        <string>{30,13}</string>
      </dict>
      <key>wushi-parts-wushi_leftleg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1965,66},{22,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,25}}</string>
        <key>sourceSize</key>
        <string>{22,25}</string>
      </dict>
      <key>wushi-parts-wushi_leftcalf1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1989,91},{12,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,15}}</string>
        <key>sourceSize</key>
        <string>{12,15}</string>
      </dict>
      <key>wushi-parts-wushi_leftfoot1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2036,34},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>wushi-parts-wushi_rightleg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2004,70},{24,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,22}}</string>
        <key>sourceSize</key>
        <string>{24,22}</string>
      </dict>
      <key>wushi-parts-wushi_rightcalf.png</key>
      <dict>
        <key>frame</key>
        <string>{{2030,93},{11,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,16}}</string>
        <key>sourceSize</key>
        <string>{11,16}</string>
      </dict>
      <key>wushi-parts-wushi_rightfoot.png</key>
      <dict>
        <key>frame</key>
        <string>{{1994,43},{10,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,7}}</string>
        <key>sourceSize</key>
        <string>{10,7}</string>
      </dict>
      <key>wushi-parts-wushi_body.png</key>
      <dict>
        <key>frame</key>
        <string>{{2006,34},{28,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,34}}</string>
        <key>sourceSize</key>
        <string>{28,34}</string>
      </dict>
      <key>wushi-parts-wushi_rightarm.png</key>
      <dict>
        <key>frame</key>
        <string>{{2030,70},{12,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,21}}</string>
        <key>sourceSize</key>
        <string>{12,21}</string>
      </dict>
      <key>wushi-parts-wushi_cloak4.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,332},{88,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>wushi-parts-wushi_cloak3.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,332},{88,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>wushi-parts-wushi_cloak2.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,332},{88,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
      <key>wushi-parts-wushi_cloak.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,332},{88,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,76}}</string>
        <key>sourceSize</key>
        <string>{88,76}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>wushi.png</string>
      <key>textureFileName</key>
      <string>wushi.png</string>
      <key>size</key>
      <string>{2048,512}</string>
    </dict>
  </dict>
</plist>